# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Models & large files
models/*.joblib
models/*.pkl
data/processed/*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
